@import "imports/aek-css-config";

// additional styles below
h1 {
text-align:left;
font-size: 1.8rem;
}
h2 {
text-align:left;
font-size: 1.4rem;
}
h3 {
text-align:left;
font-size: 1.2rem;
}
h4 {
text-align:left;
font-size: .8rem;
}
.optionTitle {
font-size: .85rem;
}
ul {
list-style-type: disc;
margin-left: 1.5em;
padding: 0;
}
li.active.item.optionItem {
margin: 0;
padding-top: .1em;
}
